body {
    text-align: center;
    display: flex;
    padding: 0% 5%;
    margin:0;
}
canvas{
    padding: 0% 3%;
    /* height: 100vh; */
    flex: 50%;
    order: 1;
}
.game{
    padding: 5% 3%;
    flex: 40%;
    order:2;
}
.game h1 {
    font-family: 'Editor Bold', 'Lobster';
    color: #5169d4
}
.score {
    font-size:18px;
    color: brown;
    font-weight: 700;
}
.score h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(8, 18, 80, 0.664);
}
.score span {
    color:red
}

